<div class="mat-h1">Render dynamic components in Angular</div>

<ul>
<li>Example 1: a single child component is rendered multiple times via an &#64;for loop.
        <ul>
            <li>A single child component.</li>
            <li>An input array of elements with the same data structure.</li>
        </ul>
    </li>
    <li>Example 2: a collection of child components are rendered via an &#64;for loop.
        <ul>
            <li>3 distinct child components.</li>
            <li>An input array of elements with distinct data structure.</li>
        </ul>
    </li>
</ul>